# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE folders
.idea/

# Generated artifacts
food_groups_hierarchy.json
unique_food_groups.json
categories_hierarchy.json
unique_categories.json
unique_last_categories.json

# Search results
search_results_*.json
batch_search_results_*.csv
demo_search_results.json
test_demo_search_results.json
example_search_results_with_given_name.json
