# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE folders
.idea/

# Generated artifacts
food_groups_hierarchy.json
unique_food_groups.json
categories_hierarchy.json
unique_categories.json
